body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e90ff;
    animation: waves 20s infinite linear;
}

@keyframes waves {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(30, 144, 255, 0.8), rgba(30, 144, 255, 0.2) 50%, rgba(30, 144, 255, 0.8));
    background-size: 200px 100%;
    animation: wave-animation 5s infinite linear;
    z-index: -1;
}

@keyframes wave-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200px 0;
    }
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border: 1px solid #999;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: #ccc;
}

.cell.revealed {
    background-color: #eee;
}

.cell.mine {
    background-color: red;
    animation: explode 0.5s forwards;
}

.game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 9999;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}