body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    border: 1px solid #999;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: #ccc;
}

.cell.revealed {
    background-color: #eee;
}

.cell.mine {
    background-color: red;
}